// Colors
$grey: rgb(36, 36, 36);
$dark-grey: rgb(25, 25, 25);
$silver: rgb(84, 109, 141);
$pink: rgb(255, 2, 104);

// Font Size
$font-size-xlarge: 2.4rem;
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
